<h1>Export</h1>

<p>
  <a href="<%= backup_download_project_path(@project) %>"
     class="waves-effect waves-light btn"
     download="export.yaml"
  >
    <i class="material-icons left">file_download</i>
    download
  </a>
</p>

<%= text_area_tag(:yaml, @content, class: 'yaml-preview') %>
