<h3>Train</h3>

<%= button_to 'Train', 'train', { class: 'btn waves-effect waves-light'} %>

<% if defined? @score %>
    <h4>Score: <%= @score %>%</h4>
<% end %>
<h4>Test Transactions</h4>
<%= render partial: 'shared/transactions_table', locals: { transactions: @test_transactions } %>

<h4>Training Transactions</h4>
<%= render partial: 'shared/transactions_table', locals: { transactions: @training_transactions } %>

