<h1>Statements</h1>

<% @statements.each do |statement| %>
    <h5><%= statement.name %></h5>
    <div class="row">
      <div class="col s6">

      </div>
      <div class="col s6">
        <%= render partial: 'shared/verification_status', locals: { verification_state: statement.verification_state } %>
      </div>
    </div>
<% end %>
