/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'materialize/components/color';

$primary-color: color("deep-purple", "darken-2") !default;
$secondary-color: color("pink", "base") !default;

$h1-fontsize: 3.33rem !default;
$h2-fontsize: 2.67rem !default;
$h3-fontsize: 2.33rem !default;
$h4-fontsize: 2.00rem !default;
$h5-fontsize: 1.67rem !default;
$h6-fontsize: 1.33rem !default;

@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import 'transactions';

@import 'layout/page';
@import 'components/panel';
@import 'components/button';

@import 'pages/projects';

textarea.yaml-preview {
  height: 30rem;
  font-family: "Source Code Pro", Monaco, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  & > b, & > strong {
    font-weight: 400;
  }
}

table.summary {
  margin-bottom: 2rem;
  th, td {
    padding: 0 5px 5px 5px;
  }
  th {
    font-size: 120%;
    font-weight: 300;
    font-variant: small-caps;
    width: 40%;
  }
  td {
    &.number {
      width: 1px;
    }
    .unverified {
      @extend .pink-text, .accent-3;
    }
    .verified {
      @extend .green-text;
    }
    font-size: 140%;
    font-weight: bold;
  }
}

.light {
  font-weight: 300;
}

.progress.verification_state {
  .determinate {
    background-color: #66bb6a
  }
}