// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collapsible-body {
  padding: 0;
}

table.transactions {
  font-size: 90%;

  td, th {
    padding: 2px;
    border-radius: 0;
  }

  tr {
    &.highlight, &.categorized.highlight {
      @extend .pink, .lighten-5;
    }
    &.correct, &.categorized {
      @extend .green, .lighten-5;
    }
    &.incorrect {
      @extend .red, .lighten-5;
    }
  }

  th {
    &.date {
      width: 8%;
    }

    &.description {
      width: 38%;
    }
    // total: 46%;

    &.value, &.balance {
      width: 8%;
    }
    // total: 62%;

    &.category {
      width: 15%;
    }

    &.predicted_category {
      width: 15%;
    }
    // total: 92%;

    &.verified {
      width: 8%;
    }
  }

  td.numeric {
    text-align: right;
  }

  td input[type=text] {
    height: 100%;
    padding: 0;
    margin: 2px;
  }

  .autocomplete-content {
    position: absolute;
    margin-top: 0;

    li {
      min-height: 0;
      & > a, & > span {
        padding: 4px 4px 2px 4px;
      }
    }
  }
}