// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.transactions {
  @extend .striped;

  td, th {
    padding: 2px;
  }

  th {
    &.transaction_type {
      width: 6%;
    }

    &.date, &.value, &.balance, &.category {
      width: 10%;
    }

    &.controls {
      width: 14%;
    }

    &.description {
      width: 50%;
    }
  }

  td.numeric {
    text-align: right;
  }
}