// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.transactions {
  @extend .striped;

  td, th {
    padding: 2px;
  }

  th {
    &.date, &.transaction_type, &.value, &.balance, &.category {
      width: 10%;
    }

    &.description {
      width: 50%;
    }
  }
}