<h3>Statements:</h3>

<%= button_to 'Sync', 'sync', { class: 'btn waves-effect waves-light'} %>

<ul>
  <% @statements.each do |statement| %>
    <li>
      <%= statement.filename %>
    </li>
  <% end %>
</ul>
