<table class="summary">
  <tr>
    <th>
      verified transactions
    </th>
    <td>
      <b><%= percentage(@verified_count) %></b>
    </td>
  </tr>
  <tr>
    <th>
      verified spend
    </th>
    <td>
      <b><%= percentage(@verified_spend) %></b>
    </td>
  </tr>
</table>
