<table class="statement-summary">
  <tr>
    <th>
      categorized transactions
    </th>
    <td>
      <b><%= percentage(@categorized_count) %></b>
    </td>
  </tr>
  <tr>
    <th>
      categorized spend
    </th>
    <td>
      <b><%= percentage(@categorized_spend) %></b>
    </td>
  </tr>
</table>
