<% breadcrumb :report_balance, @project %>

<h1>Balance</h1>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var div = $('#chart_div');
    div.css('height', div.width() * 0.7);

    $.get('balance_data', function(jsonData) {
      var data = new google.visualization.DataTable(jsonData);
      var options = {
        isStacked: true
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);

    });
  }
</script>
<div id="chart_div"></div>