<% breadcrumb :import_statement, @account %>

<h1>Import</h1>

<%= form_tag({action: :upload_statement}, multipart: true) do %>
    <%= file_field_tag 'statement' %>
    <br>
    <%= submit_tag('Upload', class: 'waves-effect waves-light btn') %>
<% end %>
